<ul id="tasks">
<% @tasks.each do |task| %>
    <li class='card'>
    <% if task.completed %>
        <i class="fa fa-check-circle-o task-completed"></i>
    <% else %>
        <i class="fa fa-circle-o"></i>
    <% end %>
    <%= link_to task.title, task_path(task.id) %>
    ·
    <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
    </li>
<% end %>
</ul>
<hr>

<%= link_to tasks_new_path, class:"btn" do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>
