#tasks {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway';
}

.card {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(209, 209, 209, 0.23);
    margin-top: 20px;
}

#tasks li {
    padding: 10px;
    font-size: 16px;
}

li a {
    color: black;
}

.fa.fa-trash {
    text-align: center;
    float: right;
    background-color: #A17AF7;
    border: 1px solid #A17AF7;
    border-radius: 10px;
    padding: 6px;
    color:white;
    justify-content: right;
}