// Variables
$primary-color: #7B68EF;
$buttons-color: #FDD148;

#tasks {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
}

.card {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(209, 209, 209, 0.23);
    margin-top: 20px;
}

.task-completed {
    color: green;
}

#tasks li {
    padding: 10px;
    font-size: 16px;
}

li a {
    color: black;
    padding-left: 10px;
}

.btn {
    border: 1px solid $buttons-color;
    border-radius: 8px;
    background-color: $buttons-color;
    padding: 8px;
    color: white;
}

.btn:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: 0.5s;
}

.fa.fa-trash {
    text-align: center;
    float: right;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 6px;
    color:white;
    justify-content: right;
}
